<a href="https://colab.research.google.com/github/luistorres109/disciplina_ia_ds/blob/main/ds_trabalho_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd drive/MyDrive/

[Errno 2] No such file or directory: 'drive/MyDrive/'
/content/drive/MyDrive

In [4]:
df = pd.read_csv("/content/drive/MyDrive/train.csv")
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [5]:
linhas = df.shape[0]
print("A quantidade de linhas eh: " + str(linhas))
colunas = df.shape[1]
("A quantidade de colunas eh: " + str(colunas))
if df.isnull().values.any():
  print("O dataframe possui dados vazios.")
else:
  print("Não há nenhum dado vazio.")

media_idades = df['Age'].fillna(0).sum()/df['Age'].count()

print("A media das idades é "+str(media_idades))

print("A quantidade de homens era "+str(df['Sex'].value_counts()['male'])+" e mulheres era "+str(df['Sex'].value_counts()['female']))

print("A quantidade de pessageiros que sobreviram foi de "+str(df['Survived'].value_counts()[1])+" e que morreram foi de "+str(df['Survived'].value_counts()[0]))

print("A idade média dos sobreviventes em comparação aos não sobreviventes eh "+str(df[df['Survived'] == 1]['Age'].sum()/df['Survived'].value_counts()[1]/df[df['Survived'] == 0]['Age'].sum()/df['Survived'].value_counts()[0]))

variables = {}

variables["Classe 1"] = df[df['Pclass'] == 3]['Survived'].sum()
variables["Classe 2"] = df[df['Pclass'] == 3]['Survived'].sum()
variables["Classe 3"] = df[df['Pclass'] == 3]['Survived'].sum()

print("A classe com a maior numero de sobreviventes eh a "+max(variables, key=variables.get))

A quantidade de linhas eh: 891
O dataframe possui dados vazios.
A media das idades é 29.69911764705882
A quantidade de homens era 577 e mulheres era 314
A quantidade de pessageiros que sobreviram foi de 342 e que morreram foi de 549
A idade média dos sobreviventes em comparação aos não sobreviventes eh 3.3712988695065505e-06
A classe com a maior numero de sobreviventes eh a Classe 1